astroid==2.9.3
autoflake==1.4
autopep8==1.6.0
bleach==4.1.0
certifi==2021.5.30
charset-normalizer==2.0.4
colorama==0.4.4
docformatter==1.4
docutils==0.17.1
idna==3.2
importlib-metadata==4.8.1
isort==5.10.1
keyring==23.2.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
packaging==21.0
pkginfo==1.7.1
platformdirs==2.5.1
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.10.0
pylint==2.12.2
pyparsing==2.4.7
readme-renderer==30.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
six==1.16.0
toml==0.10.2
tqdm==4.62.3
twine==3.4.2
unify==0.5
untokenize==0.1.1
urllib3==1.26.6
webencodings==0.5.1
wrapt==1.13.3
zipp==3.6.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
